* {
    background-color: black;
}

#demo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.rocket {
    height: 200px;
    width: 200px;
}

#circles {
    display: flex;
    gap: 20px;
    z-index: 20px;
}

.circle {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.circle:nth-child(1) {
    background-color: lightblue;
}

.circle:nth-child(2) {
    background-color: rgb(239, 199, 100);
}

.circle:nth-child(3) {
    background-color: rgb(239, 165, 100);
    border-radius: 0;
}

.circle:nth-child(4) {
    background-color: rgb(100, 239, 153);
}

.circle:nth-child(5) {
    background-color: rgb(239, 100, 130);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
}

.box:nth-child(1) {
    background-color: lightblue;
}

.box:nth-child(2) {
    background-color: rgb(217, 165, 81);
}

.box:nth-child(3) {
    background-color: rgb(175, 140, 94);
}

.box:nth-child(4) {
    background-color: rgb(248, 140, 107);
}

.box:nth-child(5) {
    background-color: rgb(158, 239, 57);
}

.box:nth-child(6) {
    background-color: rgb(140, 82, 221);
}

.box:nth-child(7) {
    background-color: rgb(147, 233, 72);
}

.box:nth-child(8) {
    background-color: lightblue;
}

.box:nth-child(9) {
    background-color: lightblue;
}

.box:nth-child(10) {
    background-color: rgba(209, 201, 130, 0.73);
}

.box:nth-child(11) {
    background-color: rgb(217, 78, 32);
}

.box:nth-child(12) {
    background-color: lightblue;
}

.box:nth-child(13) {
    background-color: lightblue;
}

.box:nth-child(14) {
    background-color: lightblue;
}

.box:nth-child(15) {
    background-color: rgba(209, 201, 130, 0.73);
}

.box:nth-child(16) {
    background-color: rgb(217, 78, 32);
}

.box:nth-child(17) {
    background-color: rgb(248, 140, 107);
}

.box:nth-child(18) {
    background-color: rgb(158, 239, 57);
}

.box:nth-child(19) {
    background-color: rgb(140, 82, 221);
}

.box:nth-child(20) {
    background-color: rgb(147, 233, 72);
}